<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stock Ticker Plotter</title>
    <script type="text/javascript" src="http://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.css" type="text/css" />
    {{ script|safe }}
</head>
<body>
  <div class=page>
    <form method='post' action='plot'>
      <!--h1>Stock Ticker</h1-->
      {{ div|safe }}
    </form>
  </div>
</body>
</html>
